<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <title>{{ title }}</title>
  <style>{{ css_text }}</style>
</head>

<body style="background-color:rgb(255, 255, 255)"5>

  <div id="header">
    <h1> Multilayer network </h1>
  </div>

  <!-- Assign the data (mxgraph) from the python notebook to an element -->
  <div id="datadiv" data-mxgraph='{{mxgraph}}' style='display:none'></div>

  <!-- Construct the divs for the two svgs -->
  <div id="svgs-div">
    <div id="svgdiv-mx">

      <!-- Svg that holds the multilayer network -->
      <svg width="1000" height="1300" id="svg-mx">

        <!-- Define the arrowhead for directed edges -->
        <defs>
          <marker id="arrow" markerWidth="7" markerHeight="7" refX="2" refY="3" orient="auto" markerUnits="strokeWidth">
            <path d="M0,0 L0,6 L3,3 z" />
          </marker>
        </defs>

      </svg>

    </div>


  </div> 


  <!-- Construct the options row -->
  <div id="options" width=100 height=200>
    
    <div>
    Color nodes by:
    <select id="color-dropdown" title="Node color">
    <option value="L2">Layer</option>
    <option value="L1">L1</option>
    </select>
    </div>


    <div>
    Rotate mx:
    <button type="button" id="rotate-button">Rotate</button>
    </div>

    <div>
    Rotate x:
    <!-- Add a slider -->
    <input type="range" name="x0 Slider" id="slider-x0" min="-20" max="18" value="10">
    </div>


    <div>
    Rotate y:
    <input type="range" name="tilt Slider" id="slider-tilt" min="0" max="900" value="200">
    </div>

  </div>

  <!-- Construct the footer -->
  <div id="footer">

    <button type="button" id="mx-button">Save mx</button>

    <button type="button" id="sadj-button">Save sadj</button>

  </div>




<!-- Load d3 and other helper scripts -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.6.0/d3.min.js"></script>
<script>{{ d3_save_svg }}</script>
<script src="https://unpkg.com/d3-3d/build/d3-3d.min.js"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<!-- Insert the javascript found in the associated file. -->
<script>{{ js_text }}</script>


</body>
